{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {    
    "semi": "error",
    "max-len": ["error", {"code": 120, "ignoreUrls": true}],
    "no-unexpected-multiline": "error"
  }
}
